body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/par.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}
.title__contaner{
    float: left;
    margin: 432px 0px 0px 404px;
    color:  #2c384a;
    text-align: center; 
    opacity: 0;
  -webkit-animation: titlemove 1s ease forwards;
  -o-animation: titlemove 1s easeforwards;
  animation: titlemove 1s easeforwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.title__contaner h1{
    font-size: 60px;
    font-weight: bold;
}
.title__contaner h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818b;
}
.title__contaner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682; 
    background: none;
    border-radius: 5px;
    color: #6d7682; 
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.menu li a{
    transition: all 0.2s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white; 
}
.menu li a:hover{
    color: #e88604; 
    
}
.menu li a:active{
        transform: scale(1.1);
}
.title__contaner input{
    transition: all 0.2s;
    transform: scale(1);
}
.title__contaner input:hover{
    background: #344051;
    color: white;
}
.title__contaner input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s
}
.menu li:nth-child(3){
    animation-delay: 0.8s
}
.menu li:nth-child(4){
    animation-delay: 1.2s
}
.menu li:nth-child(5){
    animation-delay: 1.6s
}
.menu li:nth-child(6){
    animation-delay: 2s
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 404px;
    }
}





 
.About_me{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fotka.jpg) 1165px 118px/auto 201px no-repeat;
    text-align: center;
}
.About_me h3{    
    font-size: 36px;
    width: 250px;
    font-weight: bold;
    color: #263244;
  margin: 0px 0px 0px 1150px;
}
.About_me img{
    margin: 33px 1130px 0px;
}
.About_me p{
    font-size: 17px;
    color: #79808c;
    width: 900px;
    margin-top: 300px;
    margin-left: 800px;
}
.About_me h5{
    font-size: 17px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6d7682;
    margin: 0px 0px 0px 1180px;
    width: 165px;
    height: 40px;
    line-height: 35px;
    padding-left: 12px;
    background: url(../img/dow.png) 5px 10px no-repeat;
}
.Services{
    width: 100%;
    height: calc(75% - 10px);
    background: url(../img/fon2.jpg) center/cover no-repeat;
    text-align: center;
}
.Services h4{
    font-size: 36px;
    font-weight: bold;
}
.Services img{
 margin: 25px 900px;
}
.Services h5{
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
    margin: 25px;
}
.i{
    float: left;
    width: 387px;
}
.i2{
   margin: 0px 0px 0px 400px; 
}
.i p{
    font-size: 14px;
    color: #3f495a;
}
.i img{
    margin: 5px;
}
.Cases h4{
    font-size: 36px;
    font-weight: bold;
    color: #263244;
    margin: 107px 896px 0px 1180px;
}
.Cases img{
    margin: 20px 0px 0px 1200px;  
}
.Cases p{
    font-size: 14px;
    color: #3f495a;
    margin: 25px 900px;
}



.ca{
float: left;
width: 350px;
}
.ca img{
    margin: 10px 230px;
}
.ca h3{
    font-size: 18px;
    color: #384354;
    margin: 0px 620px;
    line-height: 30px;
}
.ca p{
    font-size: 18px;
    color: #fff;
    margin: 15px 620px;
    width: 203px;
    background: url(../img/forma.png)  round no-repeat;
}
.c3 p{
   font-size: 14px;
    margin: 650px 900px;
}



.calculator h1{
    font-size: 36px;
    color: #1c2534;
    width: 350px;
    margin: 107px 896px 0px 895px;
    font-weight: bold;
}
.calculator select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 100px 0px 15px 600px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}
.calculator h2{
   font-size: 18px; 
    color: #1c2534;
   text-align: left;
   margin: 50px 0px 15px 600px;
}

.calculator select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 150px 0px 15px 600px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}
.calculator h2{
   font-size: 18px; 
   color: #1c2534;
   text-align: left;
   line-height: 0px;
   margin: 250px 0px 15px 600px;   
}
.calculator img{
    margin: 200px 0px 15px;
}
.crok{
    font-size: 15px;
    color: #1c2534;
    margin: 5px 0px 0px 600px;
    line-height: 30px;
}
.calculator select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 150px 0px 15px 600px;
    line-height: 42px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}
.Statistics {
    width: 100%;
    height: calc(75% );
    background: url(../img/FonK.jpg) center/cover no-repeat round;
    text-align: center;
}
.Statistics h4{
    font-size: 36px;
    color: #263244;
    font-weight: bold;
}
.Statistics img{
    margin: 35px 920px ;
}
.ck{
    float: left;
    width: 387px;
    text-align: center;
}
.cp{
    margin: 0px 0px 0px 500px; 
}
.ck p{
    font-size: 16px;
    color: #323e4f;
    font-weight: bold;
}
.ck img{
    margin: 210px 0px 10px 0px;
}
.reviews h1{
    font-size: 36px;
    font-weight: bold;
    color: #263244;
    margin: 107px 0px 0px 1150px; 
}
.reviews{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fotka2.png) 1160px 118px/auto 150px no-repeat;
}
.reviews img{
    margin: 30px 0px 0px 1200px;
}
.reviews p{
    font-size: 14px;
    color: #545b66;
    float: left;
    text-align: center;
    margin: 270px 520px 0px;
}






.Contacts{
    width: 100%;
    height: calc(100% );
    background: url(../img/fonP.jpg) center/cover no-repeat;
    text-align: center;
}
.Contacts h3{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    width: 350px;
    margin: 16px 1100px;
}

.Contacts p{
    color: #fff;
    margin: 50px;
}
.s{
    float: left;
    text-align: center;
    width: 400px; 
}

.s img{
    margin: 20px 0px 0px 900px ;
}
.s p{
    width: 300px;
    color: #fff;
    font-size: 17px;
    margin: 20px 0px 0px 770px;
}






.mesenger{
    width: 450px;
    margin: 300px 1065px 0px;
}
.mesenger h2{
    font-size: 36px;
    color: #fff;
}
.m{
    line-height: 85px;
    width: 500px;
}
.m input{
    width: 355px;
    height: 38px;
    text-align: center;
    color: #d1d5db; 
    font-size: 13px;
    margin: 40px 14px 0px 14px;
}
.m name: 1px;{
    margin: 5px 0px 0px 0px;
}
.ot input{
    height: 40px;
    text-align: center;
    border: 2px solid #f9faff; 
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}
.ot{
    margin: 0px 0px 150px 0px;
}