body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
    
}
.menu{
    float: left;
    padding-left: 432px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/par.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}
.title__contaner{
    float: left;
    margin: 432px 0px 0px 404px;
    color:  #2c384a;
    text-align: center;
    
}
.title__contaner h1{
    font-size: 60px;
    font-weight: bold;
    
}
.title__contaner h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818b;
    
}
.title__contaner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682; 
    background: none;
    border-radius: 5px;
    color: #6d7682; 
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}
.About_me{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fotka.jpg) 870px 118px/auto 201px no-repeat;
}
.About_me h3{    
    font-size: 36px;
    width: 250px;
    font-weight: bold;
    color: #263244;
    margin: 107px 896px 0px 895px;
}
.About_me img{
    margin: 33px 935px 0px;
}

.About_me p{
    font-size: 17px;
    color: #79808c;
    margin-top: 324px;
    margin-left: 34%;
    text-align: center;
    width: 35%;
}
.About_me h5{
    font-size: 17px;
    text-align: center;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6d7682;
    margin: 40px 888px 0px 877px;
    width: 165px;
    height: 40px;
    line-height: 35px;
    padding-left: 12px;
    background: url(../img/dow.png) 5px 10px no-repeat;
}
.Services{
    width: 100%;
    height: calc(53% - 60px);
    background: url(../img/fon2.jpg) center/cover no-repeat;
}
.i h3{
    font-size: 36px;
    width: 300px;
    font-weight: bold;
    color: #263244;
    margin: 220px 877px 0px;
}
.Services img{
    margin: 33px 0px 0px 940px;
}
.Web_development h5{
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
    float: left;
    margin-top: 200px;
    margin-left: 477px;
}
.Web_development img{
    margin: -85px 497px;
    float: left;
}
.Web_development p{
    font-size: 14px;
    color: #3f495a;
    width: 150px;
    float: left;
    text-align: center;
    margin: 10px 450px;
}
.Development h5{
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
    float: left;
    margin-top: -95px;
    margin-left: 770px;
}
.Development img{
    margin: -165px 790px;
}
.Development p{
    font-size: 14px;
    color: #3f495a;
    width: 150px;
    float: left;
    text-align: center;
    margin: -79px 745px;
}
.SEO_optimization h5{
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
    width: 350px;
    float: left;
    margin: -103px 1041px;
}
.SEO_optimization img{
    margin: -185px 1090px;
}
.SEO_optimization p{
    font-size: 14px;
    color: #3f495a;
    width: 150px;
    float: left;
    text-align: center;
    margin: -91px 1045px; 
}
.Marketing h5{
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
    float: left;
    margin: -115px 1350px;
}
.Marketing img{
    float: left;
    margin: -185px 1370px;
}
.Marketing p{
    font-size: 14px;
    color: #3f495a;
    width: 150px;
    float: left;
    text-align: center;
    margin: -90px 1320px;
}
.Cases h4{
    font-size: 36px;
    font-weight: bold;
    color: #263244;
    margin: 107px 896px 0px 895px;
}
.Cases img{
    margin: 20px 0px 0px 915px;
}
.Cases p{
    font-size: 14px;
    color: #3f495a;
    margin: 35px 650px;
    width: 650px;
}
.c1 img{
    margin: auto;
}
.c1 h3{
    font-size: 18px;
    color: #384354;
    margin: -117px 390px;
    text-align: left;
    line-height: 40px;
}
.c2 p{
    font-size: 14px;
    color: #384354;
    margin: 120px 390px;
    text-align: left;
    line-height: -420px;
}
.p1 p{
    margin: -70px 390px;
}
.c2 img{
   margin: -25px 390px; 
    
}
.c3 h4{
    font-size: 30px;
    margin: -25px 680px;
}
.c3 p{
    font-size: 14px;
    margin: 50px 680px;
    width: 800px;
}

.calculator h1{
    font-size: 36px;
    color: #1c2534;
    width: 350px;
    margin: 107px 896px 0px 895px;
    font-weight: bold;
}
.calculator select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 100px 0px 15px 600px;
    line-height: -20px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}
.calculator h2{
   font-size: 18px; 
    color: #1c2534;
   text-align: left;
   margin: 50px 0px 15px 600px;
}

.design h2{
   font-size: 18px; 
    color: #1c2534;
   text-align: left;
   margin: 200px 0px 15px 600px;
    
}
.design select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 150px 0px 15px 600px;
    line-height: 20px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}
.adap h2{
   font-size: 18px; 
    color: #1c2534;
   text-align: left;
   margin: 250px 0px 15px 600px;   
}
.adap img{
    margin: 250px 0px 15px -90px;
}
.crok h4{
    font-size: 15px;
    color: #1c2534;
    margin: 200px 0px 0px 600px;
}
.adap select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 150px 0px 15px 600px;
    line-height: 42px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}

.Statistics {
    width: 100%;
    height: calc(500px );
    background: url(../img/FonK.jpg) center/cover no-repeat;
}
.Statistics h3{
    font-size: 36px;
    float: left;
    color: #263244;
    width: 450px;
    margin: 102px 0px 0px 805px;
    
}
.Statistics img{
    margin: 20px 435px;
}
.ck{
    float: left;
    width: 494px;
    text-align: center;
}
.ck img{

}
.ck h3{
    font-size: 36px;

}
.ck p{
    font-size: 16px;
    color: #323e4f;
    font-weight: bold;
    
}


















.cr{
   float: left;
   width: 494px;
}
.cr img{
    
}
.cr h3{
    font-size: 36px;
    
}
.cr p{
    
    font-size: 16px;
    color: #323e4f;
    font-weight: bold;
    text-align: left;
   
}
.pz{
    float: left;
    width: 494px  
}
.pz img{
     
}
.pz h3{
    font-size: 36px;
    
}
.pz p{
    font-size: 16px;
    color: #323e4f;
    font-weight: bold;
    width: 175px;
    
}
.np{
    float: left;
    width: 784px
}
.np img{
   
}
.np h3{
    font-size: 36px;
    
}
.np p{
    font-size: 16px;
    color: #323e4f;
    font-weight: bold;
    width: 135px;
    
}
.reviews h1{
    font-size: 36px;
    font-weight: bold;
    color: #263244;
    margin: 107px 896px 0px 895px; 
}
.reviews{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fotka2.png) 900px 118px/auto 150px no-repeat;
}
.reviews img{
    margin: 30px 0px 0px 935px;
}
.reviews p{
    font-size: 14px;
    color: #545b66;
    float: left;
    text-align: center;
    margin: 270px 520px 0px;
}
.Contacts{
    width: 100%;
    height: calc(100% - 0px);
    background: url(../img/fonP.jpg) no-repeat;  
}
.Contacts__contaner h3{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    width: 250px;
    margin: 16px 852px;
}
.Contacts__contaner img{
    margin: 14px 940px;
}
.tel{
    float: left;
    width: 494px;
    text-align: center;
}
.tel img{
    margin: 264px 1150px ;
}
.tel p{

}
.soc img{
    
    margin: 0px 426px 950px;
}