body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}
.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 1s ease;
    -o-animation: comming 1s ease;
    animation: comming 1 s ease;
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/par.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}
.title__contaner{
    float: left;
    color:  #2c384a;
    text-align: center; 
    width: 100%; 
    opacity: 0;
  -webkit-animation: titlemove 1s ease forwards;
  -o-animation: titlemove 1s easeforwards;
  animation: titlemove 1s easeforwards;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.title__contaner h1{
    font-family: Arial, sans-serif;
    font-size: 72px;
    font-weight: 600;
}
.title__contaner h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818b;
}
.title__contaner input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682; 
    background: none;
    border-radius: 5px;
    color: #6d7682; 
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}

.menu li a{
    transition: all 0.2s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white; 
}
.menu li a:hover{
    color: #e88604; 
    
}
.menu li a:active{
        transform: scale(1.1);
}
.title__contaner input{
    transition: all 0.2s;
    transform: scale(1);
}
.title__contaner input:hover{
    background: #344051;
    color: white;
}
.title__contaner input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s
}
.menu li:nth-child(3){
    animation-delay: 0.8s
}
.menu li:nth-child(4){
    animation-delay: 1.2s
}
.menu li:nth-child(5){
    animation-delay: 1.6s
}
.menu li:nth-child(6){
    animation-delay: 2s
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.About_me{
    width: 100%;
    height: 65%;
    background: url(../img/fotka.png)center 120px/auto 200px no-repeat, url(../img/trait.jpg) center 70px/auto 4.5px no-repeat;
    text-align: center;
}
.About_me h3{    
    font-size: 36px;
    font-weight: bold;
    color: #263244;
    margin: 90px;
}
.About_me p{
    font-size: 17px;
    color: #79808c;
    margin-top: 16%;
}
About_me input{
    transition: all 0.2s;
    transform: scale(1);
}
.About_me input{
    margin: auto;
}
.About_me input{
    font-size: 17px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6d7682;
    width: 165px;
    height: 40px;
    padding-left: 12px;
    background: url(../img/dow.png) 5px 9px no-repeat;
    
}
.About_me input:hover{
    background: #344051;
    color: white;
}
.About_me input:active{
    transform: scale(1.1);
}

.Services{
    width: 100%;
    height: 50%;
    background: url(../img/fon2.jpg) center/cover no-repeat;
    text-align: center;
    display: flex;

}
.Services h4{
    font-size: 36px;
    font-weight: bold;
    margin: 45px;
}
.Services h5{
    font-size: 17px;
    font-weight: bold;
    color: #cf7600;
    margin: 10px;
}
.col-md-3md img{
    margin: 5px;
    text-align: center;
    -webkit-animation: i 0.5s;
    -o-animation: i 0.5s;
    animation: i 0.5s;
}
@keyframes i{
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.col-md-3:hover{
  animation: i 1.5s ease;
  animation-iteration-count: 1;
}




.Cases{
    width: 100%;
    height: 110%;
    background:url(../img/Photo1.jpg) 33% no-repeat;
    text-align: center;
}
.Cases h4{
    font-size: 36px;
    font-weight: bold;
    color: #263244;
}
.Cases p{
    font-size: 14px;
    color: #3f495a;
}


.col h3{
    font-size: 18px;
    width: 200px;
    color: #384354;
    line-height: 30px;
}

.col{
   margin-top: 650px;
    text-align: left;
}
.col-9{
   margin-top: 645px;
    text-align: left;
}
.col h2{
    font-size: 18px;
    color: #fff;
    margin: 25px;
    padding: 13px 15px;
    width: 205px;
    height: 46px;
    background: url(../img/forma.png)  no-repeat;
    text-align: left;
    display: flex;
    
   
}

.calculator{

    width: 50%;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    border: 25px; 
}
.calculator h1{
    font-size: 36px;
    color: #1c2534;
    width: 350px;
    margin: 350px 806px 0px 955px;
    font-weight: bold;
    line-height: 0px;
}
.calculator select{
    box-sizing: content-box;
    background: #494a4f;
    width: 888px;
    padding: 10px;
    border: 5px;
    line-height: 0px;
    }

.calculator select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 100px 0px 15px 600px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}
.calculator h2{
   font-size: 18px; 
    color: #393f4a;
   text-align: left;
    font-weight: bold;
}
.calculator select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 150px 0px 15px 600px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}
.calculator h2{
   font-size: 18px; 
   color: #393f4a;
   text-align: left;
   line-height: 0px;
   margin: 250px 0px 15px 600px;   
}
.calculator img{
    margin: 20px 0px 15px 600px;
}
.crok{
    font-size: 15px;
    color: #1c2534;
    margin: 5px 0px 0px 600px;
    line-height: 30px;
}
.calculator select{
    font-size: 17px;
    color: #737373;
    float: left;
    margin: 150px 0px 15px 600px;
    line-height: 42px;
    background: url(../img/polosa1.jpg) center/cover no-repeat;
}



.Statistics {
    width: 100%;
    height: calc(75% );
    /*background: url(../img/FonK.jpg) center/cover no-repeat;*/
    text-align: center;
}
.Statistics h4{
    font-size: 36px;
    color: #263244;
    font-weight: bold;
}
.Statistics img{
    margin: 35px 920px ;
}
.ck{
    float: left;
    width: 500px;
}
.cp{
    margin: 0px 0px 0px 400px; 
}
.ck p{
    font-size: 16px;
    color: #323e4f;
    font-weight: bold;
}
.ck img{
    margin: 210px 0px 10px 0px;
}
.ck{
   
    background-image: url(../img/FonK.jpg);
    height: 600px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover/auto;
}


.reviews h1{
    font-size: 36px;
    font-weight: bold;
    color: #263244;
    margin: 107px 0px 0px 1150px; 
}
.reviews{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fotka2.png) 1160px 118px/auto 150px no-repeat;
}
.reviews img{
    margin: 30px 0px 0px 1200px;
}
.reviews p{
    font-size: 14px;
    color: #545b66;
    float: left;
    text-align: center;
    margin: 270px 520px 0px;
}

.Contacts{
    width: 100%;
    height: calc(100%);
    background: url(../img/fonP.jpg) center/cover no-repeat;
    text-align: center;
}
.Contacts h3{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    width: 350px;
    margin: 16px 1100px;
}

.Contacts p{
    color: #fff;
    margin: 50px;
}
.s{
    float: left;
    text-align: center;
    width: 400px; 
}

.s img{
    margin: 20px 0px 0px 900px ;
}
.s p{
    width: 300px;
    color: #fff;
    font-size: 17px;
    margin: 20px 0px 0px 770px;
}






.mesenger{
    width: 450px;
    margin: 300px 1065px 0px;
}
.mesenger h2{
    font-size: 36px;
    color: #fff;
}
.m{
    line-height: 85px;
    width: 800px;
}
.m input{
    width: 355px;
    height: 38px;
    text-align: center;
    color: #d1d5db; 
    font-size: 13px;
    margin: 40px 14px 0px 14px;
}
.m name: 1px;{
    margin: 5px 0px 0px 0px;
}
.ot input{
    height: 40px;
    text-align: center;
    border: 2px solid #f9faff; 
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;
}
.ot{
    margin: 0px 0px 150px 0px;
}
.ot input:hover{
    background: #344051;
    color: white;
}
.ot input:active{
    transform: scale(1.1);
}
.Contacts h6{
    color: #ffffff;
}



.white-btn:visited{
    color: white;
}

@media (max-width: 990px){
    .title__contaner, .title__contaner h4, .title__contaner input{
        color: white;
        position: relative;
        z-index: 3; 
    }
    .title__contaner input{
        border: 2px solid #fff; 
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4)
    }
}

